.wrapper {
  display: grid;
  grid-template-areas:
    't a'
    'd p'
    'b b';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 40px;

  width: 60%;
  background-color: beige;
  border-radius: 5px;
  border: 1px solid black;

  @media (max-width: 768px) {
    grid-template-rows: 100px 1fr 120px;
  }
}

.title {
  grid-area: t;
  width: 350px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  margin: 0 auto !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin-left: 20px !important;
  border-radius: 5px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  @media (max-width: 1280px) {
    width: 250px;
  }

  @media (max-width: 1024px) {
    width: 200px;
  }

  @media (max-width: 768px) {
    width: 100px;
    margin-left: 10px !important;
  }
}

.hiddenDateInput {
  height: 20px;
  margin-top: 40px;
  margin-right: 10px;
}

.date {
  grid-area: a;
  align-self: center;

  @media (max-width: 768px) {
    margin-left: 10px;
  }
}

.description {
  grid-area: d;
  height: 90%;
  width: 350px;
  margin-left: 20px;
  resize: none;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  @media (max-width: 1280px) {
    width: 250px;
  }

  @media (max-width: 1024px) {
    width: 200px;
  }

  @media (max-width: 768px) {
    width: 100px;
    margin: 0 0 0 10px;
  }
}

.preview {
  grid-area: p;
  width: 400px;
  height: 400px;

  @media (max-width: 1400px) {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 1024px) {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 375px) {
    width: 80px;
    height: 80px;
  }
}

.image {
  grid-area: p;
  width: 400px;
  height: 400px;

  @media (max-width: 1400px) {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 1024px) {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 375px) {
    width: 80px;
    height: 80px;
  }
}

.buttons {
  grid-area: b;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 10px;
  }
}

.skeleton {
  grid-area: p;
  box-shadow: 0px 0px 0px 1px black;
  width: 400px;
  height: 400px;

  @media (max-width: 1400px) {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 1024px) {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 375px) {
    width: 80px;
    height: 80px;
  }
}
