.wrapper {
  display: grid;
  grid-template-areas:
    't d'
    'a d';
  grid-template-columns: 1fr 1fr;

  background-color: rgb(66, 95, 177);
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;

  &:hover {
    box-shadow: 0px 0px 0px 2px black;
  }
}

.title {
  font-weight: bold;
  grid-area: t;
}

.date {
  grid-area: d;
}
